.navbar {
    /* min-height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #cbc0f8;
    box-shadow: 10px 10px 12px 0 rgba(67, 48, 48, 0.07);
}

.navbar ul {
    width: fit-content;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.navbar ul li {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(132, 71, 71, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(155, 35, 35, 0.1), -4px -4px 6px rgb(43, 9, 9);
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: rgb(9, 2, 2);
}